body {
	min-height: 100vh;
}
.divContainer {
	height: 90%;
    margin-top: 55px;
	min-height: 90.5vh;
	position: absolute;
	overflow: hidden;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	width: 100%;
}
.contentContainer {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.detailedViewColumn {
	color: #337ab7;
}
.overflowPageDiv {
	vertical-align: middle;
    text-align: center;
}
.switchPageBtn {
	width:80px;
	height:25px;
}
.reportId {
	width:10%;
}
.reportCategory {
	width:20%;
}
.reportDescription {
	width:30%;
}
.reportCity {
	width:10%;
}
.reportCounty {
	width:10%;
}
.reportDate {
	width:10%;
}
.modalPictureDiv {
	margin-left:15px;
	border-right:1px solid #e5e5e5;
	float:left;
	width:30%;
	height:100%;
}
.modalEditableDiv {
	height:100%;
	margin-left:35%
}
.first_modal_dialog {
	width:65%
}
.startOfInfo {
	margin-top:30px;
}
.imageIcon {
display: block;
	margin: 0 auto;
}
.reportDescriptionDiv {
	margin-top:10px;
}
.second-split-form {
	margin-top:64px;
}
.wrapperDiv {
	width:100%;
}
.councilemail {
	width:50%;
	float:left;
}
.councilphone {
	margin-left:50%;
	width:50%;
}
.councilname {
	margin-bottom:4px;
}
.wrapperDiv {
	margin-bottom:4px;
}
.councilhq  {
	margin-bottom:4px;
}