.myform {
	padding: 10px;
	width: 50%;
	align: center;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #A0A0A0;
	border-radius: 10px;
}

.form-group {
	width: 80%;
	align: center;
	margin: 0 auto;
}

.forminputerror {
	color: red;
}

.forminputvalid {
	color: green;
}

.form-control {
	margin-bottom: 20px;
}

.formDiv {
	margin-top: 85px;
    margin-bottom: 20px;
}

.titleH {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 40px;
}

.createAdminForm {
	margin-top: 50px;
	width: 60%;
	margin: 0 auto;
}

.header-container {
	width: 100%;
	padding-left: 20px;
}