.info_container {
	margin-left: 5px;
}

#map {
	height: 100%;
	width: 100%;
	border: 1px solid black;
}

.infoWindowContent {
	font-size: 14px !important;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}

.live_feed_title {
	text-align: center;
	height: 5%;
}

h2 {
	margin-bottom: 0;
	margin-top: 0;
}

.individual_report {
	margin: 10px 3px 0 3px;
}

.div_container {
	width: 100%;
	height: 90%;
	min-height: 90.5vh;
	position: absolute;
	margin-top: 65px;
}

.map_and_form_container {
	width: 60%;
	height: 98%;
	position: absolute;
	float: left;
}

.selected {
	background-color: #D3D3D3;
}

.report_container {
	float: right;
	width: 40%;
	height: 98%;
	border: 1px solid black;
	position: absolute;
	overflow: hidden;
	margin-left: 60%;
}

.map_container {
	width: 100%;
	height: 50%;
	position: absolute;
	padding: 0 5px 5px 5px;
}

.form_container {
	width: 100%;
	height: 50%;
	bottom: 0;
	background-color: black;
	position: absolute;
	background-color: white;
	padding-top: 20px;
}

.reports_feed {
	width: 100%;
	height: 95%;
	position: absolute;
	overflow-y: scroll;
}

.align-btn {
	text-align: center;
}

.report_form {
	padding: 10px 30px 0 30px;
}

.form_field {
	margin-bottom: 10px;
}

.checkbox_move_left {
	margin-left: 20px;
}

[data-role="shorties"] .ui-checkbox label {
	width: 50px;
	float: left;
	display: inline-block;
}

[data-role="shorties"] .ui-checkbox input {
	display: none;
}

.customized_bubtton {
	width: 70px;
	height: 34px;
}

.view_reports {
	padding: 10px 30px 0 30px;
	font-size: 200%;
}

.category_date_container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.category_container {
	padding: 0;
	margin-left: 5px;
	display: block;
	float: left;
}

.date_container {
	padding: 0;
	margin: 0;
	display: block;
	float: right;
}