.divContainer {
	margin-top: 60px;
}

.header-container {
	width: 100%;
	padding-left: 20px;
}

.btn-div {
	width: auto;
	margin-right: 15px;
	margin-left: 15px;
}

.mapDiv {
	overflow: hidden;
	width: auto;
	margin-top: 35px;
	margin-right: 15px;
	margin-left: 15px;
}
.formInputMargin {
	margin-bottom:10px;
}