@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,800);
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.angular-google-map-container {
	height: 400px;
	width:540;
}

.divContainer {
    overflow: hidden;
	width: 100%;
}

.formDiv {
	float: left;
	width: 50%;
	overflow: hidden;
	margin-right:15px;
	margin-left:15px;
}

.mapDiv {
	overflow: hidden;
	width:auto;
	margin-right:15px;
	margin-left:15px;
}

.actualMap {
	width:100%;
}