.header-container {
	width: 100%;
	padding-left: 20px;
}

input[type=checkbox], input[type=radio] {
	margin: 2px 0 0;
}

.remMe {
	color: white;
	font-size: 18px;
	line-height: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 5px;
}