body {
	min-height: 100vh;
}

.divContainer {
	height: 90%;
	margin-top: 55px;
	margin-bottom:15px;
	min-height: 90.5vh;
	position: absolute;
	width: 100%;
}

.contentContainer {
	width: 100%;
	padding-left:2%;
	padding-right:2%;
	height: 100%;
}

.userInfoContainer {
	height: 350px;
}

.userChartsContainer {
	height: 100%;
}

.chart1Container {
	border: 1px solid black;
	width : 49%;
	float: left;
	height: 100%;
}

.chart2Container {
	border: 1px solid black;
	width : 49%;
	height: 100%;
	margin-left: 51%;
}
.chart3Container {
	border: 1px solid black;
	width : 49%;
	float: left;
	height: 100%;
}

.chart4Container {
	border: 1px solid black;
	width : 49%;
	height: 100%;
	margin-left: 51%;
}
.chartContainer {
	padding-left:2px;
	padding-right:2px;
}
.secondInfoContainer {
	margin-top:20px;
	margin-bottom:20px;
}
.titleDiv {
	margin-bottom:20px;
}