@import
	url(http://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,800)
	;

@import
	url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css")
	;

.form-form-group {
	width: 90%;
	align: center;
	margin: 0 auto;
}

.divContainer {
	margin-top: 80px;
}

.forminputerror {
	color: red;
	margin-bottom: 13px;
}

.forminputvalid {
	color: green;
	margin-bottom: 13px;
}

.form-form-control {
	margin-bottom: 10px;
}

.volForm {
	width: 85%;
	margin: 0 auto;
}

.myform {
	padding: 10px;
	width: 50%;
	align: center;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #A0A0A0;
	border-radius: 10px;
}

.header-container {
	width: 100%;
	padding-left: 20px;
}

.date-input-div {
	margin-bottom: 10px;
}

.split-form-container {
	overflow: hidden;
	position: relative;
}

.first-split-form {
	width: 50%;
	height: 100%;
	float: left;
}

.second-split-form {
	height: 100%;
	width: 50%;
	float: right;
}

.submit-button-div {
	text-align: center;
}

.innerDiv {
	height: auto;
	margin: 0 auto;
	margin-bottom: 20px;
}

.titleH {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 20px;
}

.usernameMsg {
	color: red;
}