body {
	min-height: 100vh;
}

.divContainer {
	height: 90%;
    margin-top: 55px;
	min-height: 90.5vh;
	position: absolute;
	overflow: hidden;
	width: 100%;
}

.sidebarContainer {
	width: 20%;
	float: left;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.contentContainer {
	width: 80%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.userInfoContainer {
	height: 300px;
}

.userChartsContainer {
	height: 100%;
}

.reportChartsContainer {
	height: 350px;
}

.chart1Container {
	width: 50%;
	float: left;
	height: 100%;
}

.chart2Container {
	width: 50%;
	height: 100%;
	margin-left: 50%;
}

.report2Container {
	width: 50%;
	height: 100%;
	margin-left: 50%;
}

.userStatsContainer {
	height: 74px;
}

a[target=_self] {
	font-color: #ffffff;
}

.reportInfoContainer {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.reportInfoContainer2 {
    border-bottom: 1px solid black;
}

.resTitle {
	width: 20%;
}

.resData {
	width: 16%;
}

.volTitle {
	width: 20%;
}

.volData {
	width: 16%;
}