.red{
    color:red;
}

.blue{
    color:blue;
}
#map {
	height: 100%;
	width: 100%;
	border: 1px solid #000000;
	align: center;
	margin: 0 auto;
}

.links {
	padding-top: 25px;
	padding-bottom: 10px;
	position: relative;
}

.specificLink {
	color: #ffffff;
	font-size: 25px;
	margin: 0;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.container1 {
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	width: 62%;
	position: absolute;
	height: 95%;
}

.container2 {
	border: 1px solid #000000;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: right;
	background-color: white;
	width: 35%;
	height: 95%;
	position: absolute;
	right: 10px;
}

.overall-container {
	margin-top:50px;
	min-height: 90vh;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
	position: relative;
}

.header-container {
	width: 100%;
	padding-left: 20px;
}

.report-container {
	height: 92%;
	overflow: auto;
}

.individual_report {
	margin: 0 5px 0 2px;
}

.username_date_container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: auto;
}

.username_container {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}

.live_feed_title {
	text-align: center;
	height: 8%;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
}
.date_container {
	padding: 0;
	margin: 0;
	display: block;
	float: right;
}

.inline_container {
	height: 95%;
}

.individual_report_container {
	margin: 5px;
}

.selected {
	background-color: #D3D3D3;
}

.statistical_container {
	border: 1px solid black;
	height: 39%;
	padding-top: 10px;
	overflow: auto;
}

.seperation {
	height: 2%;
}

.myMap {
	height: 59%;
}

#main_content {
	height: 450px;
	border: 1px solid #e5e5e5;
	margin: auto;
	width: 100%;
}

#user_content {
	background-color:#BDBDBD;
	width: 23%;
	float: left;
	height: 450px;
	border-right: 1px solid #e5e5e5;
}

#report_content {
	height: 450px;
	margin-left: 23%;
	overflow-y: scroll;
	overflow-x: auto;
}

#titles {
	margin-left: 5px;
}

#image_container {
    margin-top: 5px;
	text-align: center;
	margin-bottom:5px;
}

img {
	vertical-align: middle;
	width: 85%;
	height: inherit;
}

#img-child {
	margin: auto;
}

#contact_info {
	margin-left:3px;
	padding:3px 0;
}

.status_button {
	width:70px;
	height:34px;
}