.header-container {
	width: 100%;
	padding-left: 20px;
}

.loginError {
	border: 2px solid red;
}

.test {
	margin-top: 50px;
}

.homePagePara {
	margin-bottom: 30px;
	font-size: 15px;
	font-style: normal;
	font-family: sans-serif;
	font-weight: bold;
	color: black;
}