@CHARSET "ISO-8859-1";

input[type=text] {
	width: 250px;
}

input[type=password] {
	width: 250px;
}

.forminputvalid {
	font-size: small;
	color: green;
	margin-left: 10px;
}

textarea {
	width: 250px;
	height: 150px;
}

.label {
	text-align: right;
	vertical-align: top;
	margin: 10px;
}

.control {
	margin-left: 10px;
}

.forminputerror {
	font-size: small;
	color: red;
	margin-left: 10px;
}

table.formtable {
	padding: 20px;
	border: 1px solid gray;
}

.formtabledata {
	padding: 10px;
	border: 1px solid gray;
}

p.loginerror {
	color: red;
}

div.footer {
	font-size: small;
	color: gray;
	top: 0px;
	background-color: #585858;
}

div.content {
	position: relative;
	padding: 40px;
	background-color: #989898;
}

div.header {
	position: relative;
	text-align: center;
	width: 100%;
	height: 70px;
	background-color: #585858;
}

a.login {
	position: absolute;
	top: 25px;
	right: 15px;
}

a.title {
	color: white;
	font-size: 50px;
}